body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show before truncating */
  -webkit-box-orient: vertical;
}
.text-truncate-para {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show before truncating */
  -webkit-box-orient: vertical;
}
.ProgressOverviewCard-title {
  background-color: red;

  background-image: linear-gradient(to right, #4464a8 60%, #92a2d0 70%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
